<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="js/common.js"></script>
</head>
<body>
	<div class="menubg"></div>
	<header class="header">
		<div class="wrap flex">
			<div class="logo">
				<a href="/"><img src="img/logo_with_text.png"></a>
			</div>
			<form>
				<input type="text" placeholder="Search...">
				<button><i class="fa fa-search"></i></button>
			</form>
			<div class="user">
				<div><img src="img/avatar.jpg"></div>
				<div>
					<span>Nikita Lawyer</span>
					Name name name
				</div>
				<i class="fa fa-angle-down"></i>
				<a href="#"></a>
			</div>
			<a class="menu-button">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</header>
	<nav class="top-menu">
		<div class="wrap">
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">Statistics</a></li>
				<li><a href="#">Tariff settings</a></li>
				<li><a href="#">All users</a></li>
				<li><a href="#">Chat</a></li>
			</ul>
		</div>
	</nav>
	<div class="inner-page">
		<div class="wrap flex">
			<div class="cabinet-right-side">
				<div class="tags-page-block">
					<div class="block-name">
						Your tags
					</div>
					<div class="tags">
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<a href="#" class="add">Add new tag <span><i class="fa fa-plus"></i></span></a>
					</div>
				</div>
				<div class="news-block">
					<div class="block-name">
						News
						<a href="#">View all</a>
					</div>
					<div class="item">
						<div class="name">
							Lorem Ipsum
						</div>
						<p>является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
						<div class="date">
							24.12.2022
						</div>
					</div>
					<div class="item">
						<div class="name">
							Lorem Ipsum
						</div>
						<p>является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
						<div class="date">
							24.12.2022
						</div>
					</div>
					<div class="item">
						<div class="name">
							Lorem Ipsum
						</div>
						<p>является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
						<div class="date">
							24.12.2022
						</div>
					</div>
				</div>
			</div>
			<div class="cabinet-left-side">
				<div class="catalog-block">
					<div class="list">
						<div class="list-name">
							Have your recently viewed.
						</div>
						<div class="item">
							<div class="name">
								№12323
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
							<div class="tags">
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
							</div>
							<div class="date">
								Date <span>23.02.2022</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="list-name">
							Records based on your requests.
						</div>
						<div class="item">
							<div class="name">
								№12323
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
							<div class="tags">
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
							</div>
							<div class="date">
								Date <span>23.02.2022</span>
							</div>
						</div>
						<div class="item">
							<div class="name">
								№12323
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
							<div class="tags">
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
							</div>
							<div class="date">
								Date <span>23.02.2022</span>
							</div>
						</div>
						<div class="item">
							<div class="name">
								№12323
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<p>Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
							<div class="tags">
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
								<a href="#">#tag</a>
							</div>
							<div class="date">
								Date <span>23.02.2022</span>
							</div>
						</div>
						<div class="bottom-button">
							<button>View More</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="wrap flex">
			<div class="data">
				<div class="logo">
					<a href="#"><img src="img/logo.png"></a>
				</div>
				<a href="#" class="link">mail@domain.ru</a>
				<a href="#" class="link">+7 123 456-78-90</a>
				<div class="adress">
					Company adress
				</div>
				<div class="payment">
					<img src="img/payment.png">
				</div>
			</div>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
		</div>
	</footer>
	<div class="copyright-block">
		<div class="wrap">
			&copy; Copyright text
		</div>
	</div>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>