<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="js/common.js"></script>
</head>
<body>
	<div class="menubg"></div>
	<header class="header">
		<div class="wrap flex">
			<div class="logo">
				<a href="/"><img src="img/logo_with_text.png"></a>
			</div>
			<form>
				<input type="text" placeholder="Search...">
				<button><i class="fa fa-search"></i></button>
			</form>
			<div class="user">
				<div><img src="img/avatar.jpg"></div>
				<div>
					<span>Nikita Lawyer</span>
					Name name name
				</div>
				<i class="fa fa-angle-down"></i>
				<a href="#"></a>
			</div>
			<a class="menu-button">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</header>
	<nav class="top-menu">
		<div class="wrap">
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">Statistics</a></li>
				<li><a href="#">Tariff settings</a></li>
				<li><a href="#">All users</a></li>
				<li><a href="#">Chat</a></li>
			</ul>
		</div>
	</nav>
	<div class="inner-page">
		<div class="wrap flex">
			<div class="cabinet-left-side">
				<div class="library-block">
					<div class="block-name">
						Your library <span>(4/10)</span>
						<a href="#">Clear all</a>
					</div>
					<div class="flex">
						<div class="item">
							<div class="name">
								№1234567
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<div class="info">
								<table>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
								</table>
							</div>
							<div class="buttons flex">
								<button>Button</button>
								<button>Button</button>
							</div>
						</div>
						<div class="item">
							<div class="name">
								№1234567
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<div class="info">
								<table>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
								</table>
							</div>
							<div class="buttons flex">
								<button>Button</button>
								<button>Button</button>
							</div>
						</div>
						<div class="item">
							<div class="name">
								№1234567
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<div class="info">
								<table>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
								</table>
							</div>
							<div class="buttons flex">
								<button>Button</button>
								<button>Button</button>
							</div>
						</div>
						<div class="item">
							<div class="name">
								№1234567
								<span>Lorem Ipsum - это текст-"рыба"</span>
							</div>
							<div class="info">
								<table>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
									<tr>
										<td>Value</td>
										<td>Value</td>
									</tr>
								</table>
							</div>
							<div class="buttons flex">
								<button>Button</button>
								<button>Button</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cabinet-right-side">
				<div class="archive-block">
					<div class="block-name">
						Archive
					</div>
					<div class="top-text">
						Saved docs <button>Saved docs</button>
					</div>
					<div class="content">
						<div class="item">
							<i class="fa fa-file-pdf-o"></i> Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						</div>
						<div class="item">
							<i class="fa fa-file-pdf-o"></i> Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						</div>
						<div class="item">
							<i class="fa fa-file-pdf-o"></i> Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="wrap flex">
			<div class="data">
				<div class="logo">
					<a href="#"><img src="img/logo.png"></a>
				</div>
				<a href="#" class="link">mail@domain.ru</a>
				<a href="#" class="link">+7 123 456-78-90</a>
				<div class="adress">
					Company adress
				</div>
				<div class="payment">
					<img src="img/payment.png">
				</div>
			</div>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
		</div>
	</footer>
	<div class="copyright-block">
		<div class="wrap">
			&copy; Copyright text
		</div>
	</div>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>