{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'slick.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
</head>
<body>
	<div class="menubg"></div>
	<header class="header">
		<div class="wrap flex">
			<div class="logo">
				<a href="/"><img src="{% static 'img/logo_with_text.png' %}"></a>
			</div>
			<form>
				<input type="text" placeholder="Search...">
				<button><i class="fa fa-search"></i></button>
			</form>
			<div class="user">
				<div><img src="{% static 'img/avatar.jpg' %}"></div>
				<div>
					<span>{{ email }}</span>
					{{ name }}
				</div>
				<i class="fa fa-angle-down"></i>
				<a href="/userEdit"></a>
			</div>
			<a class="menu-button">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</header>
	<nav class="top-menu">
		<div class="wrap">
			<ul>
				<li><a href="/globaladmin">Home</a></li>
				<li><a href="/globaladmin_statistic">Statistics</a></li>
				<li><a href="#">Tariff settings</a></li>
				<li><a href="#">All users</a></li>
				<li><a href="#">Chat</a></li>
			</ul>
		</div>
	</nav>
	<div class="inner-page">
		<div class="wrap flex">
			<div class="cabinet-right-side">
				<div class="user-page-block">
					<div class="avatar">
						<img src="{% static 'img/avatar.png' %}">
						<a href="#"><i class="fa fa-pencill"></i></a>
					</div>
					<div class="name">
						<span>{{ name }}</span>
						BASIC ACCOUNT
					</div>
					<label>Field Name</label>
					<input type="text" value="Field">
					<label>Field Name</label>
					<input type="text" value="Field">
					<label>Field Name</label>
					<input type="text" value="Field">
					<div class="buttons">
						<button>Save changes</button>
						<button>Change password</button>
						<button>Exit account</button>
					</div>
				</div>
				<div class="notifications-block">
					<div class="name">
						Notifications
					</div>
					<div class="item">
						<input type="checkbox" id="ch1">
						<label for="ch1">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</label>
					</div>
					<div class="item">
						<input type="checkbox" id="ch1">
						<label for="ch1">Lorem Ipsum - это текст-"рыба".</label>
					</div>
					<div class="button">
						<button>Save changes</button>
					</div>
				</div>
			</div>
			<div class="cabinet-left-side">
				<div class="subscribes-block">
					<div class="block-name">
						Subscription information
					</div>
					<table>
						<tr>
							<td>Account Version:</td>
							<td><span class="version">Basic account</span></td>
						</tr>
						<tr>
							<td>Subscription Action:</td>
							<td>24.12.2002-24.01.2023</td>
						</tr>
					</table>
					<div class="buttons flex">
						<button>Button</button>
						<button>Button</button>
					</div>
				</div>
				<div class="tags-page-block">
					<nav>
						<a href="#" class="active">Nav item</a>
						<a href="#">Nav item</a>
						<a href="#">Nav item</a>
					</nav>
					<div class="tags">
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<div class="tag">
							#hashtag <a class="delete"><i class="fa fa-close"></i></a>
						</div>
						<a href="#" class="add">Add new tag <span><i class="fa fa-plus"></i></span></a>
					</div>
				</div>
				<div class="stats-block2">
					<div class="block-name">
						Category statistics
						<ul>
							<li><a href="#" class="active">Week</a></li>
							<li><a href="#">Month</a></li>
							<li><a href="#">Year</a></li>
						</ul>
					</div>
					<div class="tags">
						<a href="#" class="tag">#hashtag</a>
						<a href="#" class="tag">#hashtag</a>
						<a href="#" class="tag">#hashtag</a>
						<a href="#" class="tag">#hashtag</a>
						<a href="#" class="tag">#hashtag</a>
						<a href="#" class="tag">#hashtag</a>
					</div>
					<div class="flex">
						<div class="item">
							<span>10</span>
							Lorem Ipsum - это текст-"рыба.
						</div>
						<div class="item">
							<span>20</span>
							Lorem Ipsum - это текст-"рыба.
						</div>
						<div class="item">
							<span>30</span>
							Lorem Ipsum - это текст-"рыба.
						</div>
					</div>
				</div>
				<div class="history-block">
					<div class="block-name">
						History
					</div>
					<table>
						<tr>
							<td>
								<div class="name">
									<div><img src="{% static 'img/history.png' %}"></div>
									<div>
										№2313234
										<span>Lorem Ipsum - это текст-"рыба"</span>
									</div>
								</div>
							</td>
							<td>
								24.12.2022 10:44
							</td>
						</tr>
						<tr>
							<td>
								<div class="name">
									<div><img src="{% static 'img/history.png' %}"></div>
									<div>
										№2313234
										<span>Lorem Ipsum - это текст-"рыба"</span>
									</div>
								</div>
							</td>
							<td>
								24.12.2022 10:44
							</td>
						</tr>
						<tr>
							<td>
								<div class="name">
									<div><img src="{% static 'img/history.png' %}"></div>
									<div>
										№2313234
										<span>Lorem Ipsum - это текст-"рыба"</span>
									</div>
								</div>
							</td>
							<td>
								24.12.2022 10:44
							</td>
						</tr>
						<tr>
							<td>
								<div class="name">
									<div><img src="{% static 'img/history.png' %}"></div>
									<div>
										№2313234
										<span>Lorem Ipsum - это текст-"рыба"</span>
									</div>
								</div>
							</td>
							<td>
								24.12.2022 10:44
							</td>
						</tr>
						<tr>
							<td>
								<div class="name">
									<div><img src="{% static 'img/history.png' %}"></div>
									<div>
										№2313234
										<span>Lorem Ipsum - это текст-"рыба"</span>
									</div>
								</div>
							</td>
							<td>
								24.12.2022 10:44
							</td>
						</tr>
					</table>
					<div class="button">
						<button>View more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="wrap flex">
			<div class="data">
				<div class="logo">
					<a href="#"><img src="{% static 'img/logo.png' %}"></a>
				</div>
				<a href="#" class="link">mail@domain.ru</a>
				<a href="#" class="link">+7 123 456-78-90</a>
				<div class="adress">
					Company adress
				</div>
				<div class="payment">
					<img src="{% static 'img/payment.png' %}">
				</div>
			</div>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
			<nav>
				<p>Title</p>
				<ul>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
					<li><a href="#">Nav link</a>
				</ul>
			</nav>
		</div>
	</footer>
	<div class="copyright-block">
		<div class="wrap">
			&copy; Copyright text
		</div>
	</div>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>